*{
  font-family: 'Alegreya Sans'!important;
}

code {
  font-family: 'Roboto',serif,
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.login,
.image {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  ), url("https://www.laopinion.com.co/sites/default/files/2020/12/15/imagen/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

.login .fondo-form{
  border-radius: 7%
}


.form-check-input:checked {
  background-color: #fd0d0d;
  border-color: #fd0d0d;
} 

input {
  margin: 1rem 0rem 0.8rem 0rem;
}


/*Registro Usuario*/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
}

input{
  font-family: 'Roboto'!important;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
  color: #ec4848;
}

a:hover{
  color: #fd0d0d;
}

h3{
font-weight: bold;
font-size: 42px;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}

/*Campo Requerido * */
.input_auth:invalid:required {
  background-color: #ec4848;
  color: rgb(255, 255, 255) !important;
}

.input_auth::placeholder{
  color: rgb(255, 255, 255);
}

.invalid-select{
  background-color: #ec4848;
  color: rgb(255, 255, 255);
}

/* p{
  color: #ec4848;
} */

.registrado{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 32px 0px 0px 0px;

}

/*Animate the size, outside*/
button:hover, 
button:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

/*Animation Title Nav*/
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  padding: 10px;
}
.waviy span {
  position: relative;
  font-weight: bolder;
  display: inline-block;
  color: #fff;
  animation: waviy 3s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-10px)
  }
}

/*COLOR DEL ESTADO*/
.estado-color-activo{
  color: green;
  font-weight: bolder;
  text-shadow: 1px 1px;
}
.estado-color-inactivo{
  color: orange;
  font-weight: bolder;
  text-shadow: 1px 1px;
}
.estado-color-bloqueado{
  color: #ec4848;
  font-weight: bolder;
  text-shadow: 1px 1px;
}

/*TABLAS DISEÑO*/
.table-design{
  border: 5px;
  border-color: #ec4848;
}

.table-head{
  background-color: #ec4848;
  text-align: center;
}